
body{
    background-color: #F3F5FC;

}

textarea {
    resize: none;
}

.home {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home .left{
    width: 70%;
    height: 92%;


}

.home .left .logo-container{
    position: relative;
}

.home .left .texto-info{
    margin-top: 50px;
    margin-left: 219px;
    width: auto;
    height: 66%;
}

.home .left .texto-info .input-text-left{
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: none;
    font-size: 50px;
    background: none;
}

.home .left .texto-info span{
    display: flex;
    align-items: center;
    gap: 8px;
}

.home .left .texto-info span h3{
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
}

.home .left .texto-info span img{
    width: 38px;
    height: 38px;
}

.home .left .buttons{
    width: auto;
    height: 8%;
    margin-left: 219px;
    margin-top: 70px;
    display: flex;
    gap: 20px;
}

.btn1{
    width: 600px;
    height: 100%;
    background-color: #0A3871;
    border-radius: 24px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
}

.btn2{
    width: 600px;
    height: 100%;
    background: #D8DFE8;
    border: 2px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
}

.home .right{
    margin-right: 80px;
    width: 420px;
}

.home .right .encrip-desin{
    box-shadow: 0px 24px 32px -8px #00000014;
    width: 80%;
    height: 80%;
    padding: 50px;
    border-radius: 32px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.home .right .encrip-desin .textos-right{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    
}

.home .right .encrip-desin .textos-right .textoEncon{
    font-size: 25px;
}

.home .right .encrip-desin .resultados{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.home .right .encrip-desin .resultInput{
    width: auto;
    height: 85%;
    border: none;
}

.home .right .encrip-desin .copiar{
    background: none;
    border-radius: 24px;
    height: 60px;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
}

.btn1:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    transition: all .3s;
}

.btn2:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    transition: all .3s;
}

.copiar:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    transition: all .3s;
}

@media screen and (max-width: 1160px){
    .home{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }

    .home .left{
        width: 100%;
    }

    .home .left .logo-container{
        display: flex;
        justify-content: center;
        width: auto;
        height: 60px;
    }

    .home .left .texto-info{
        margin-top: 0;
        margin-left: 0;
        height: 50%;
    }

    .home .left .texto-info .input-text-left {
    
        font-size: 20px;
        background: none;
        text-align: center;
        align-items: center;
    }

    .home .left .buttons{
        margin-left: 0;
        margin-top: 70px;
        height: 13%;
    }

    .home .left .buttons .btn1, .home .left .buttons .btn2{
        font-size: 20px;
    }

    .home .left .texto-info span {
        gap: 0;
        font-size: 15px;
    }

    .home .right {
        margin-right: 0;
        width: 100%;
        height: 40%;
        justify-content: center;
        display: flex;
        margin-bottom: 15px;
    }

    .home .right .encrip-desin {
        width: 90%;
        height: 100%;
        padding: 0;
    }

    .home .right .encrip-desin .imagen-right{
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }

    .home .right .encrip-desin .imagen-right img{
        width: auto;
        height: 80%;
        object-fit: cover;
    }

    .home .right .encrip-desin .textos-right .textoEncon {
        font-size: 15px;
    }
}